
{% extends "layout.html"%}
{% block title %} 
About Us
{% endblock %}

{%block body%}
<div class="w3-container" style="padding:128px 20px" id="about"><br>
  <h3 class="w3-center">ABOUT OUR APPLICATION</h3><br>
  <p class="w3-center w3-large"> 
      This is a note taking application that will allow users to create a note and keep it stored from wherever they are. 
      This is a very simple, yet elegant way of taking notes as we implemented features that allows users to take clean note and embed coding language in the note.
      We hope for this application to be a useful tool for our users, especially those who are working with code. 
  </p><br>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class='fas fa-laptop' style='font-size:65px;color:grey'></i>
      <p class="w3-large">Responsive</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class='fas fa-laptop-code' style='font-size:65px;color:grey'></i>
      <p class="w3-large">Code</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class='far fa-folder-open' style='font-size:65px;color:grey'></i>
      <p class="w3-large">Storage</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class='far fa-list-alt' style='font-size:65px;color:grey'></i>
      <p class="w3-large">Organize</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p><br><br>
    </div>
    <!--Button-->
    <a href="{{url_for('application')}}" class="w3-button w3-grey w3-padding-large w3-large w3-margin-top w3-opacity  w3-hover-opacity-on" role="button" >
      Click here to begin
    </a>
  </div>
</div>
{%endblock %}