{% extends "layout.html"%}
{% block title %} 
Home Page
{% endblock %}


{%block body%}
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-black" style="padding:200px">
  <span class="w3-jumbo w3-hide-small">Welcome to NODE</span><br>
  <span class="w3-xxlarge w3-hide-large w3-hide-medium">Welcome to NODE</span><br>
  <span class="w3-large">Take your note from wherever you are.</span>
  {% if session.log %}
  <p><a href="{{url_for('userpage')}}" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity:0.2  w3-hover-opacity-off">Create Your Note</a></p>
  {% else %}
  <p><a href="{{url_for('about')}}" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity:0.2  w3-hover-opacity-off">Start Here</a></p>
  {% endif %}
  </div> 
</header>
{%endblock %}