{% extends "login_layout.html" %}

{% block content %}
    
<form action="action_page.php" method="post" style="padding:128px 20px" action  ="/login">      
    <h1 style="padding: 20px;">Log In</h1>
    <hr>
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
  
        <button type="submit">Login</button>

        <span class="psw">Forgot <a href="#">password?</a></span>
        <a href="{{url_for('signup')}}" class="w3-button w3-grey w3-padding-large w3-large w3-margin-top w3-opacity  w3-hover-opacity-on" role="button">Sign Up</a>
    </div>
</form>
{% endblock %}