{% extends "layout.html"%}
{% block title %} 
Team
{% endblock %}

{%block body%}
<div class="w3-container" style="padding:128px 20px" id="team">
  <h3 class="w3-center">THE TEAM</h3><br>
  <p class="w3-center w3-large">We are the students from Problem Solving and Software Design class at Babson College.</p>
  <div class="w3-row-padding" style="margin-top:100px">
    <div class="w3-col l3 m6 w3-margin-bottom" >
      <div class="w3-card">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEeOgICEpwU5A/profile-displayphoto-shrink_400_400/0?e=1609372800&v=beta&t=wYbnCFYXh7EYlYclQMWXeDAKP1YKr-X6k5_u1WsxTHQ" alt="Palida Prasitanond" style="width:100%">
        <div class="w3-container">
          <h3>Palida Prasitanond</h3>
          <p class="w3-opacity">Class of 2021</p>
          <p>Palida is a current senior at Babson College pursuing an accelerated 3-year degree in business administration with double concentrations strategic management and business analytics.</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" >
      <div class="w3-card">
        <img src="https://files.slack.com/files-pri/T019J2R4PL5-F01D72XTQHM/img_2615__1_.jpg" alt="Mason Bouffard" style="width:100%">
        <div class="w3-container">
          <h3>Mason Bouffard</h3>
          <p class="w3-opacity">Class of 2021</p>
          <p>Mason is a senior at Babson College pursuing a 4-year degree in Business Administration and has hopes of one day owning his own business in the fly fishing industry. </p>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
{%endblock %}